<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="http://malaria.jhsph.edu/">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:cwilkas1@jhu.edu">email</a></li>
	        		<li><a href="http://malaria.jhsph.edu/malaria-institute-at-macha-miam/">Malaria Institute at Macha</a></li>
				<li><a href="http://malaria.jhsph.edu/">Johns Hopkins Malaria Research Institute</a></li>
				</ul>
			</footer>
		</body>
	</html>
